@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h2 {
    font-family: 'Austein', sans-serif;
}

h1, h3, h4, h5, h6, body {
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */
.outer-container-header {
    /*border: 3px solid blue;*/
    display: flex;
    flex-direction: column;
}

.inner-container-header {
    /*border: 3px solid yellow;*/
}

.outer-container-main {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
}

.inner-container-main {
    /*border: 3px solid green;*/
}

.outer-container-footer {
    /*border: 3px solid blue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-container-footer {
    /*border: 3px solid yellow;*/
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    gap: 10em;
    align-items: flex-start;
}